<div class="container-fluid">
  <form name="form" novalidate>
    <!-- GAME -->
    <div data-ng-if="!ctrl.game">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Vali/lisa mäng:</label>
            <div class="form-check" data-ng-repeat="game in ctrl.games">
              <input
                id="{{game.id}}"
                name="game"
                type="radio"
                class="form-check-input"
                value="true"
                data-ng-model="game.selected"
                data-ng-click="ctrl.selectGame(game)">
                <label class="form-check-label" for="{{game.id}}">{{game.name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input
              id="gameName"
              name="gameName"
              class="form-control"
              type="text"
              placeholder="- Mängu nimi -"
              required="true"
              data-ng-minlength="5"
              data-ng-class="{'is-valid': form.gameName.$valid,'is-invalid': form.gameName.$invalid}"
              data-ng-model="ctrl.gameName" />
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" data-ng-click="ctrl.addGame(ctrl.gameName)" data-ng-disabled="form.$invalid">+</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TEAM -->
    <div data-ng-if="ctrl.game && !ctrl.team">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label>Vali/lisa meeskond:</label>
            <div class="form-check" data-ng-repeat="team in ctrl.game.teams">
              <input
                id="{{team.id}}"
                name="team"
                type="radio"
                class="form-check-input"
                value="true"
                data-ng-model="team.selected"
                data-ng-click="ctrl.selectTeam(team)">
                <label class="form-check-label" for="{{team.id}}">{{team.name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="input-group">
            <input
              id="teamName"
              name="teamName"
              class="form-control"
              type="text"
              placeholder="- Meeskonna nimi -"
              required="true"
              data-ng-minlength="5"
              data-ng-class="{'is-valid': form.teamName.$valid,'is-invalid': form.teamName.$invalid}"
              data-ng-model="ctrl.teamName" />
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-secondary" data-ng-click="ctrl.addTeam(ctrl.teamName)" data-ng-disabled="form.$invalid">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" style="margin-top: 15px">
        <button type="button" class="btn center" data-ng-click="ctrl.reset()">Tühista</button>
      </div>
    </div>
    <div data-ng-if="ctrl.game && ctrl.team">
      <div class="alert alert-info">Oled alustamas mängu {{ctrl.game.name}} meeskonnas {{ctrl.team.name}}!</div>
      <div class="text-center">
        <button type="button" class="btn center" data-ng-click="ctrl.reset()">Tühista</button>
        <button type="button" class="btn center" data-ng-click="ctrl.start()">Alusta</button>
      </div>
    </div>
    <!--

      <div data-ng-if="ctrl.mode === 'SELECT'">
        <div class="alert alert-info">create/select team and stuff</div>
        
        <div class="form-group">
          <select id="team" class="form-control" data-ng-model="ctrl.team" data-ng-options="team.name for team in ctrl.teams"
          data-ng-change="ctrl.selectTeam()" />
          <option value="" selected disabled>- Select team -</option>
        </select>
      </div>
      <div class="text-center">
        <button type="button" class="btn center" data-ng-click="ctrl.mode = 'CREATE'">Create team</button>
      </div>
    </div>
    <div data-ng-if="ctrl.mode === 'CREATE'">
      <div class="form-group">
        <input id="name" name="name" class="form-control" type="text" placeholder="- Team name -" required="true"
        data-ng-minlength="5" data-ng-class="{'is-valid': form.name.$valid,'is-invalid': form.name.$invalid}"
        data-ng-model="ctrl.team.name" />
      </div>
      <div class="text-center">
        <button type="button" class="btn center" data-ng-click="ctrl.mode = 'SELECT'" data-ng-disabled="form.$submitted">Back</button>
        <button type="button" class="btn center" data-ng-click="ctrl.selectTeam()" data-ng-disabled="form.$invalid || form.$submitted">Start</button>
      </div>
    </div>
  -->
  </form>
</div>