<div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGEtCoDKLLD83seTo6KaXv5T31giUwHDo">
  <ng-map center="current-location" zoom="15" default-style="false" style="width:100%; height:100%; position: absolute;">
    <marker data-ng-repeat="waypoint in ctrl.waypoints"
        title="{{waypoint.name}}"
        position="[{{waypoint.coords.lat}}, {{waypoint.coords.lng}}]"
        icon="{{!waypoint.visited ? 'img/yellow_pin_with_qm.png': 'img/blue_pin_with_x.png'}}">
    </marker>
    <shape data-ng-repeat="waypoint in ctrl.waypoints | filter: { visited: false }"
        id="{{waypoint.challengeId}}"
        title="shape"
        name="circle"
        stroke-color="#FF0000"
        stroke-opacity="0.5"
        stroke-weight="1"
        center="[{{waypoint.coords.lat}}, {{waypoint.coords.lng}}]"
        radius="15"
        editable="false" >
    </shape>
    <marker data-ng-if="ctrl.currentPos"
        position="[{{ctrl.currentPos.lat}}, {{ctrl.currentPos.lng}}]"
        animation="Animation.BOUNCE"
        centered="true"
        icon="img/pin_with_star.png">
    </marker>
  </ng-map>
  {{ctrl.currentPos}}
  {{ctrl.waypoints}}
</div>