<div map-lazy-load="https://maps.google.com/maps/api/js" fullscreen="true">
  <!-- map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGEtCoDKLLD83seTo6KaXv5T31giUwHDo"-->
  <ng-map center="current-location" zoom="15">
    <marker ng-repeat="marker in ctrl.markers | filter: { visible: true }"
        title="{{marker.id}}"
        position="{{marker.pos}}"
        icon="http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=?|FFFF00">
    </marker>
    <shape ng-repeat="marker in ctrl.markers | filter: { visible: true }"
        id="{{marker.id}}"
        name="circle"
        stroke-color="#FF0000"
        stroke-opacity="0.5"
        stroke-weight="1"
        center="{{marker.pos}}"
        radius="15"
        editable="false" >
    </shape>
    <marker data-ng-if="ctrl.currentPos"
        position="[{{ctrl.currentPos.lat}}, {{ctrl.currentPos.lng}}]"
        animation="Animation.BOUNCE"
        centered="true"
        icon="http://chart.apis.google.com/chart?chst=d_map_pin_icon&chld=star|FF0000">
    </marker>
  </ng-map>
  {{ctrl.currentPos}}
  {{ctrl.map.getCenter()}}
</div>