<div class="container-fluid">
  <div data-ng-if="!ctrl.game">
    <table class="table">
      <thead>
        <tr>
          <th>Mängud</th>
          <th>Meeskondi</th>
          <th>Mängijaid</th>
          <th>Staatus</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="game in ctrl.games">
          <td><a href="" data-ng-click="ctrl.loadGame(game.id)">{{game.name}}</a></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div data-ng-if="ctrl.game && !ctrl.team">
    <table class="table">
      <thead>
        <tr>
          <th>Meeskond</th>
          <th>Punktid</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="team in ctrl.game.teams">
          <td><a href="" data-ng-click="ctrl.team = team">{{team.name}}</a></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="text-right">
      <button type="button" data-ng-click="ctrl.game = null" class="btn center">Tagasi</button>
      <button type="button" data-ng-click="ctrl.saveScore()" class="btn center">Salvesta</button>
    </div>
  </div>
  <form data-ng-if="ctrl.team" novalidate>
    <div data-ng-repeat="item in ctrl.team.completedChallenges">
      <div class="row">
        <div class="col">
          <div class="alert alert-success" data-ng-if="item.challenge.text">
            <p>{{item.challenge.text}}</p>
            <a href="{{item.challenge.url | trustUrl}}" target="_blank" data-ng-if="item.challenge.url">Link</a>
            <a href="{{item.challenge.video | trustUrl}}" target="_blank" data-ng-if="item.challenge.video">Video</a>
            <a href="{{item.challenge.image | trustUrl}}" target="_blank" data-ng-if="item.challenge.image">Pilt</a>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 15px">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <p class="card-text" data-ng-if="item.challengeResponse.value">{{item.challengeResponse.value}}</p>
              <a href="{{item.challengeResponse.image}}" target="_blank" data-ng-if="item.challengeResponse.image">Pilt</a>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-11"></div>
        <div class="col-md-1">
          <input id="{{item.challenge.id}}" type="number" class="form-control" data-ng-model="item.challengeResponse.score" placeholder="Punktid" min="0" step="0.5" required="true">
        </div>
      </div>
      <hr>
    </div>
    <div class="text-right">
      <button type="button" data-ng-click="ctrl.team = null" class="btn center" data-ng-disabled="form.$invalid">Tagasi</button>
    </div>
  </form>
</div>